.profile {
    .inner {
        .contents {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .profile-box {
                display: flex;
                justify-content: space-between;
                width: 100%;
                text-align: center;
                .profile-left {
                    width: calc(50% - 10px);
                    display: flex;

                    img {
                        width: 95%;
                    }
                    .profile-txt {
                        flex-direction: column;
                        margin: auto 20px;
                    }
                }
                .profile-right {
                    width: calc(50% - 10px);
                }
            }
        }
    }
}
// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
    .profile .contents {
        flex-wrap: wrap !important;
        .profile-box {
            width: 100% !important;
        }
    }
}
