.skills {
    .inner {
        .contents {
            .skills-list {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                li {
                    width: calc(100% / 3);
                    text-align: center;
                    margin-bottom: 60px;
                    position: relative;
                    .skill-item {
                        margin-bottom: 180px;
                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 180px;
                            background-color: #fff;
                            padding: 20px;
                            border-radius: 20px;
                            justify-self: center;
                        }
                        .skill-overlay {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            border-radius: 10px;
                            padding: 10px;
                            background-color: rgba(0, 0, 0, 0.8);
                            opacity: 0;
                            transition: all 0.3s ease;
                            text-align: left;
                            h3 {
                                font-size: 20px;
                            }
                            p {
                                font-size: 16px;
                                padding: 5px 10px;
                            }
                        }
                        &:hover {
                            img {
                                opacity: 0.9;
                            }

                            .skill-overlay {
                                opacity: 1;
                                h3,
                                p {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
    .skills-list {
        li {
            width: 50% !important;
        }
    }
}
