.skills {
    background: #f6b5cb;
    
    .inner {
        .contents {
            .skills-list {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                li {
                    width: calc(100% / 3 );
                    text-align: center;
                    margin-bottom: 60px;

                    .skill-item {
                        position: relative;

                        img {
                            width: 35%;
                            background-color: #fff;
                            padding: 20px;
                            border-radius: 20px;
                        }

                        .skill-overlay {
                            position: absolute;
                            top: -23px;
                            left:120px;
                            width: 50%;
                            height: 140%;
                            border-radius: 10px;
                            padding: 0 8px;
                            background-color: rgba(0, 0, 0, 0.8);
                            opacity: 0;
                            transition: all 0.3s ease;
                            text-align: left;
                            p {
                                font-size: 14px;
                                padding: 5px 18px;
                            }

                            // .skill-contents {
                            //     position: absolute;
                            //     top: 50%;
                            //     left: 50%;
                            //     transform: translate(-50%, -50%);
                            //     color: #fff;
                            //     text-align: center;
                            // }
                        }

                        &:hover {
                            img {
                                opacity: 0.9;
                            }

                            .skill-overlay {
                                opacity: 1;
                                h3,
                                p {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
    .skills-list {
        li {
            width: 50% !important;
        }
    }
}
