.vision {
    .inner {
        .contents {
            margin-top: 30px;
            .vision-list {
                display: flex;
                // flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                text-align: left;
                
                li {
                    margin-bottom: 20px;
                }

                .vision-content {
                    position: relative;
                    width: 380px;
                    height: 380px;
                    padding: 30px 30px 30px 30px;
                    margin-bottom: 70px;
                    background-color: #fff;
                    border-radius: 10px;
                }
                .vision-content img {
                    position: absolute;
                    top: -50px;
                    left: -20px;
                    display: block;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
                img {
                    vertical-align: middle;
                    border: 0;
                    opacity: 0.7;
                }
               
                
                .vision-title {
                    position: relative;
                    display: block;
                    font-weight: 700;
                    font-size: 24px;
                    margin-top: 20px;
                }
                .vision-text {
                    position: relative;
                    display: block;
                    margin-top: 30px;
                    font-size: 16px;
                    line-height: 30px;
                    font-weight: 600;
                    color: #777;
                }
            }
        }
    }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
    .vision-list {
        flex-wrap: wrap;
    }
}
