.vision {
    .inner {
        .contetns {
            .vision-list {
                display: flex;
                // flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                li {
                    margin-bottom: 20px;
                }

                .vision-content {
                    width: 380px;
                    height: 380px;
                    padding: 30px 0 30px 30px;
                    margin-bottom: 70px;
                    background-color: #fff;
                    border-radius: 10px;
                }
                .vision-title {
                    position: relative;
                    display: block;
                    font-weight: 700;
                    font-size: 24px;
                }
                .vision-text {
                    position: relative;
                    display: block;
                    margin-top: 20px;
                    font-size: 16px;
                    line-height: 30px;
                    font-weight: 600;
                    color: #777;
                }
            }
        }
    }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
    .vision-list {
        flex-wrap: wrap;
    }
}
