.visual {
    height: 100vh;
    // background: url("../../public/images/bg.jpg") no-repeat ;
    // background-position: center;

    .inner {
        img {
            position: absolute;
            transform: translate(-12%, -10%);
        }

        .visual-txt {
            display: block;
            padding-top: 10%;
            opacity: 0;
            transform: translateY(100%);
            animation: slide-up 1s ease-in-out forwards;
            h2 {
                font-size: 45px;
                font-weight: 700;
                padding-bottom: 40px;
            }
            b {
                color: hotpink;
            }
            h4 {
                font-size: 25px;
                letter-spacing: 2;
                line-height: 2;
                font-weight: 800;
            }
            span {
                background-color: #f6b5cb;
                border-radius: 10px;
                padding: 3px;
            }
        }

        @keyframes slide-up {
            to {
                opacity: 1;
                transform: translateY(0%);
            }
        }
        .visual-txt h2 {
            opacity: 0;
            transform: translateY(100%);
            animation: slide-up 1s ease-in-out forwards 0.3s;
        }

        @keyframes slide-up {
            to {
                opacity: 1;
                transform: translateY(0%);
            }
        }

        .visual-txt h4 {
            opacity: 0;
            margin-bottom: 20px;
            transform: translateY(100%);
            animation: slide-up 1s ease-in-out forwards 0.5s;
        }

        @keyframes slide-up {
            to {
                opacity: 1;
                transform: translateY(0%);
            }
        }
    }
}
