.visual {
    height: calc(100vh - 80px);
    min-height: 650px;
    background: rgba(0, 0, 0, 0.5);

    .inner {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .visual-box {
            display: flex;
            justify-content: space-around;
        }

        .visual-txt {
            position: relative;
            width: 100%;
            text-align: center;
            opacity: 0;
            transform: translateY(100%);
            animation: slide-up 1s ease-in-out forwards;
        }

        @keyframes slide-up {
            to {
                opacity: 1;
                transform: translateY(0%);
            }
        }
        .visual-txt h2 {
            opacity: 0;
            transform: translateY(100%);
            animation: slide-up 1s ease-in-out forwards 0.3s;
        }

        @keyframes slide-up {
            to {
                opacity: 1;
                transform: translateY(0%);
            }
        }
        .visual-txt h3 {
            opacity: 0;
            margin-bottom: 20px;
            transform: translateY(100%);
            animation: slide-up 1s ease-in-out forwards 0.5s;
        }

        @keyframes slide-up {
            to {
                opacity: 1;
                transform: translateY(0%);
            }
        }
        .visual-txt h4 {
            opacity: 0;
            margin-bottom: 20px;
            transform: translateY(100%);
            animation: slide-up 1s ease-in-out forwards 1s;
        }

        @keyframes slide-up {
            to {
                opacity: 1;
                transform: translateY(0%);
            }
        }
    }
}
