.visual {
    height: calc(100vh - 35px);
    background: url("../../public/images/bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    transition: background 0.5s all;

    .inner {
        .visual-txt {
            position: relative;
            h2 {
                position: relative;
                display: block;
                font-size: 55px;
                font-weight: 500;
                padding-top: 10%;
                letter-spacing: 2px;
                color: rgba($color: #25252e, $alpha: 0.8);
                text-shadow: 1px 1px 1px white;
                margin-bottom: 300px;
            }
            b {
                color: #e31a5a;
                font-size: 65px;
                opacity: 0.9;
            }
            span {
                font-size: 66px;
                font-weight: 600;
                margin-right: 2px;
                color: #25252e;
                opacity: 0.9;
            }
        }
        .icon img {
            opacity: 0.8;
        }
        .icon button {
            font-family: "Nanum Pen Script", cursive;
            border: none;
            cursor: pointer;
            background: linear-gradient(to right, #e7bad4 95%, #db7bb3 5%);
            color: #25252e;
            padding: 5px;
            font-size: 20px;
            transform: rotate(20deg);
        }

        .visual-txt h2 {
            opacity: 0;
            transform: translateY(100%);
            animation: slide-up 1s ease-in-out forwards 0.3s;
        }

        @keyframes slide-up {
            to {
                opacity: 1;
                transform: translateY(0%);
            }
        }

        .icon {
            opacity: 0;
            transform: translateY(100%);
            animation: slide-up 1s ease-in-out forwards 0.7s;
            img {
                margin-right: 60px;
            }
        }

        @keyframes slide-up {
            to {
                opacity: 1;
                transform: translateY(0%);
            }
        }
    }
}

@media screen and (max-width: 1020px) {
    .visual {
        background: url("../../public/images/background1-1.png") no-repeat;
        background-position: center;
        background-size: cover;
        opacity: black 0.8;

        .visual-txt {
            h2 {
                height: 100px;
                font-size: 30px !important;
                font-weight: 700 !important;
                padding-top: 35% !important;
            }
            b {
                font-size: 45px !important;
            }
            span {
                font-size: 50px !important;
                font-weight: 600;
            }
        }
        .icon button {
            font-size: 50% !important;
        }
    }
}
@media screen and (max-width: 980px) {
    .visual {
        width: 972px;
        height: 1022px;
    }
    .visual .inner {
        width: 974px;
        height: 745px;
    }
}
